{
    "plugins": [
      "babel-plugin-source-map-support",
      "syntax-object-rest-spread"
    ],
    "presets": [
      [
        "babel-preset-env",
        {
          "targets": {
            "node": true
          }
        }
      ]
    ]
  }